db.sqlite3-journal
docs/_build/
dmypy.json
# Ignore Python virtual environment
.venv/

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Editor folders
.vscode/

# Environment files
.env

# Logs
*.log

.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
