{% extends "base.html" %}
{% block title %}Participe - ICC{% endblock %}

{% block content %}

<section class="section">
  <div class="container participe-container">

    <h1>Pronto para acelerar sua carreira?</h1>

    <p class="participe-text">
      O ICC é mais do que uma organização estudantil.
      É uma plataforma de crescimento acelerado, desenvolvimento estratégico
      e conexão direta com o mercado.
    </p>

    <div class="participe-btn-wrapper">
      <a href="https://www.instagram.com/insperconsultingclub/"
         target="_blank"
         class="btn-primary btn-big">
         Candidatar-se
      </a>
    </div>

  </div>
</section>

{% endblock %}